<div class="main">
    <div class="logo"></div>

    <div class="CAFÉS">
        <div class="cafedetails">
            <div class="menu">
                <div class="categorie">LES ENTRÉES</div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Salade Tunisienne</li>
                        </ul>
                    </div>
                    <div class="prix">
                        6
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Salade Mechwia</li>
                        </ul>
                    </div>
                    <div class="prix">
                        6
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                3 Salades</li>
                        </ul>
                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Brick à l’œuf</li>
                        </ul>
                    </div>
                    <div class="prix">
                        4
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Brick au Thon</li>
                        </ul>
                    </div>
                    <div class="prix">
                        5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Brick Crevette</li>
                        </ul>
                    </div>
                    <div class="prix">
                        8
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Ojja Normal</li>
                        </ul>
                    </div>
                    <div class="prix">
                        8
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Ojja Merguez</li>
                        </ul>
                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Ojja Escalope</li>
                        </ul>
                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Ojja Fruits de mer</li>
                        </ul>
                    </div>
                    <div class="prix">
                        18
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="crepe">
        <div class="sale">
            <div class="categorie">LES GRILLADES</div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Poulet</li>
                    </ul>
                </div>
                <div class="prix">
                    15
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Escalope</li>
                    </ul>
                </div>
                <div class="prix">
                    17
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Escalope pané</li>
                    </ul>
                </div>
                <div class="prix">
                    20
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Escalope à la crème</li>
                    </ul>
                </div>
                <div class="prix">
                    21
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Cordon bleu</li>
                    </ul>
                </div>
                <div class="prix">
                    22
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Brochette</li>
                    </ul>
                </div>
                <div class="prix">
                    25
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Brochette variée</li>
                    </ul>
                </div>
                <div class="prix">
                    30
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Agneau grillé</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Foie grillé</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Grillade varié</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Poisson grillé</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
        </div>
        <div class="sucree">
            <div class="categorie">LES PLATS</div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Couscous à la viande</li>
                    </ul>
                </div>
                <div class="prix">
                    18
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Couscous au poulet</li>
                    </ul>
                </div>
                <div class="prix">
                    15
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Couscous au poisson</li>
                    </ul>
                </div>
                <div class="prix">
                    18
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Couscous Royal</li>
                    </ul>
                </div>
                <div class="prix">
                    25
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Spaghettis à la viande</li>
                    </ul>
                </div>
                <div class="prix">
                    18
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Spaghettis au poulet</li>
                    </ul>
                </div>
                <div class="prix">
                    15
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Spaghettis fruits de mer</li>
                    </ul>
                </div>
                <div class="prix">
                    25
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Spaghettis boulonnaise</li>
                    </ul>
                </div>
                <div class="prix">
                    18
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Riz Djerbien</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Kammounia</li>
                    </ul>
                </div>
                <div class="prix">
                    .
                </div>
            </div>
        </div>
    </div>


    <div class="CAFÉS">
        <div class="cafedetails">
            <div class="menu">
                <div class="categorie" style="margin-left: 25%;">PLAT LA VAGUE</div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Fruits de mer (Poisson, Crevettes,
                                Calamar, Moule, Légumes, routes fruits
                                de mer )
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        60
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Gargoulette 100% Viande d’agneau
                            </li>
                        </ul>
                    </div>
                    <div class="prix">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>