<div class="main">
    <div class="logo"></div>

    <div class="CAFÉS">
        <div class="categorie">CAFÉS</div>
        <div class="cafedetails">
            <div class="menu">
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie - Omelette -
                        Charcuterie - Fromage - Toast
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie - Omelette -
                        Charcuterie - Fromage - Toast
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Café - Eau - Jus -Viennoiserie - Omelette -
                        Charcuterie - Fromage - Toast
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
            </div>
            <div class="imagecafe"></div>
        </div>
    </div>

    <div class="THÉS">
        <div class="imagethes"></div>
        <div class="menu">
            <div class="categorie">THÉS</div>
            <div class="menudetail">
                <div class="produitdetail">
                    <div class="produit">
                        Thé a la menthe
                    </div>
                    <div class="prix">
                        3.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Thé aux amandes
                    </div>
                    <div class="prix">
                        7.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Thé aux noix de cajou
                    </div>
                    <div class="prix">
                        11.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Thé aux pignons
                    </div>
                    <div class="prix">
                        11.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Thé LA VAGUE (fruit secs)
                    </div>
                    <div class="prix">
                        17.5
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="BOISSONS">
        <div class="categorie">BOISSONS</div>
        <div class="cafedetails">
            <div class="menu">
                <div class="produitdetail">
                    <div class="produit">
                        Eau 1/2 L
                    </div>
                    <div class="prix">
                        2
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Eau 1L
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Eau gazéifié
                    </div>
                    <div class="prix">
                        3
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Shark/Red Bull
                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Soda
                    </div>
                    <div class="prix">
                        4
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        Sirop (Mente + gure...)
                    </div>
                    <div class="prix">
                        2.5
                    </div>
                </div>
            </div>
            <div class="imageBOISSONS"></div>
        </div>
    </div>
    <div class="end"></div>
</div>