<div class="main">
    <div class="logo"></div>

    <div class="CAFÉS">
        <div class="categorie">CAFÉS</div>
        <div class="cafedetails">
            <div class="menu">
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie - Omelette -
                                Charcuterie - Fromage - Toast
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie - Omelette -
                                Charcuterie - Fromage - Toast
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Café - Eau - Jus -Viennoiserie - Omelette -
                                Charcuterie - Fromage - Toast
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
            </div>
            <div class="imagecafe"></div>
        </div>
    </div>

    <div class="THÉS">
        <div class="imagethes"></div>
        <div class="menu">
            <div class="categorie">THÉS</div>
            <div class="menudetail">
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Thé a la menthe
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        3.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Thé aux amandes
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        7.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Thé aux noix de cajou
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        11.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Thé aux pignons
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        11.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Thé LA VAGUE (fruit secs)
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        17.5
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="BOISSONS">
        <div class="categorie">BOISSONS</div>
        <div class="cafedetails">
            <div class="menu">
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Eau 1/2 L
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        2
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Eau 1L
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Eau gazéifié
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        3
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Shark/Red Bull
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Soda
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        4
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Sirop (Mente + gure...)
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        2.5
                    </div>
                </div>
            </div>
            <div class="imageBOISSONS"></div>
        </div>
    </div>
    <div class="end"></div>
</div>