.logo {
    height: 10vh;
    background-image: url("../../../assets/images/LavageLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.cafedetails {
    display: flex;
}

.menu {
    width: 60%;
}

.imagecafe {
    width: 40%;
    background-image: url("../../../assets/images/sandiwish.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 5%;
    margin-top: 15%;
}

ul {
    font-size: 8px;
    margin-bottom: 2px;
    padding-left: 4px;
}
/* .containerImage {
    position: absolute;
    height: 120px;
    width: 100px;
    left: 10%;
    top: 80%;
    opacity: 0.5;
} */