<div class="main">
              <!-- <img class="containerImage"src="/assets/images/LavageLogo.png" > -->


    <div class="CAFÉS">
        <div class="titre">RESTAURANT</div>
        <div class="cafedetails">

            <div class="menu">
                <div class="categorie" style="margin-top: 20px; margin-bottom: 20px;">LES SANDWITCHS</div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Makloub Thon
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        11
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Makloub Escalope
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        12
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Libanais Thon
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        11
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Libanais Escalop
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        12
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Baguette farcie Thon
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Baguette farcie Escalope
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        17
                    </div>
                </div>
            </div>
            <div class="imagecafe"></div>
        </div>
    </div>

    <div class="categorie" style="margin-left: 25%; margin-top: 50px; margin-bottom: 20px;">LES PIZZAS</div>
    <div class="chichas">
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Marghuerita ( sauce tomate + mozzarella +
                        basilic + olive)
                    </li>
                </ul>
            </div>
            <div class="prix">
                14
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Neptune (sauce tomate + mozzarella +
                        basilic +thon +olive)
                    </li>
                </ul>
            </div>
            <div class="prix">
                18
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        4 saisons (sauce tomate + mozzarella +
                        légumes + champignons + jambon + olive +
                        basilic)
                    </li>
                </ul>
            </div>
            <div class="prix">
                19
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        4 fromage (sauce blanche + mozzarella +
                        gruger + concombre +Roquefort )
                    </li>
                </ul>
            </div>
            <div class="prix">
                26
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Pizza poulet (sauce Tomate + poulet +
                        mozzarella + basilic + olive)
                    </li>
                </ul>
            </div>
            <div class="prix">
                22
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Pizza jambon champignons (sauce tomate +
                        mozzarella + champignon + jambon +olive )
                    </li>
                </ul>
            </div>
            <div class="prix">
                20
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Pizza fruit de mer (sauce tomate + mozzarella
                        + basilic + sèche +chevrette + levis)
                    </li>
                </ul>
            </div>
            <div class="prix">
                29
            </div>
        </div>
        <div class="produitdetail">
            <div class="produit">
                <ul>
                    <li>
                        Pizza galette (thon + escalope)
                    </li>
                </ul>
            </div>
            <div class="prix">
                26
            </div>
        </div>
    </div>
</div>