<div class="main">
    <div class="top">
        <div class="Menu">
            <h1>Menu</h1>
        </div>
        <div class="image"></div>
    </div>
    <div class="bottom">
        <div class="titre">LES PETITS DÉJEUNER</div>
        <div class="listProduit">
            <div class="produitdetail">
                <div class="produit">
                    Café - Eau - Jus -Viennoiserie
                </div>
                <div class="prix">
                    10
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    Café - Eau - Jus -Viennoiserie - Omelette -
                    Charcuterie - Fromage - Toast
                </div>
                <div class="prix">
                    16
                </div>
            </div>
        </div>
        <div class="info">
            <div class="infodetails">
                <div class="infoitem">
                    <div class="infologo1"></div>
                    <div class="infodescription">Rond Point Marina-Houmet Souk -Djerba</div>
                </div>
                <div class="infoitem">
                    <div class="infologo2"></div>
                    <div class="infodescription">25 591 679</div>
                </div>
            </div>
        </div>
    </div>
</div>
