<div class="main">
    <div class="CAFÉS">
        <div class="categorie">LES JUS</div>
        <div class="cafedetails">
            <div class="menu">
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Orange
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        6
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Citronnade
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        6
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Citronnade au amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        9.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Fraise
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        7
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Fraise aux amandes
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        11.5
                    </div>
                </div>

                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mangue
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>

                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Pomme
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Pêche
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Ananas
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Kiwi
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
            </div>
            <div class="imagecafe"></div>
        </div>
    </div>

    <div class="THÉS">
        <div class="imagethes"></div>
        <div class="menu">
            <div class="categorie">LES COCKTAILS</div>
            <div class="menudetail">
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Lait de poule
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Lait de poule date
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        11
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Fleur d’amoune <br> (banane + fraise + orange + grenadine )
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Bahamas <br> (banane + ananas)
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Caraib <br>(banane + ananas + coco )
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Fruit de saison
                            </li>
                        </ul>



                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Cocktails fruit secs impériale
                            </li>
                        </ul>



                    </div>
                    <div class="prix">
                        19
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Jwajem
                            </li>
                        </ul>


                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Jwajem Royale
                            </li>
                        </ul>



                    </div>
                    <div class="prix">
                        19
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Smoothie au choix
                            </li>
                        </ul>



                    </div>
                    <div class="prix">
                        16
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>