.main {
    background-image: url("assets/images/backlavage1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
    padding: 4%;
    overflow-y: hidden;
}

ul {
    color: white !important;
    margin-bottom: 0px;
}

.titre {
    font-size: 24px;
    font-weight: bolder;
    color: #2B8BB8 !important;
    text-align: center;
}

.categorie {
    color: black !important;
    background-color: #A0C8D9;
    margin-bottom: 8px;
    padding: 2px 6px;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: clamp(12px, 2vw, 16px);
}

.produit {
    color: rgb(255, 255, 255) !important;
    font-size: clamp(9px, 2vw, 14px);
}

.prix {
    font-weight: bold;
    font-size: clamp(12px, 1vw, 14px);
    color: rgb(255, 255, 255) !important;
}

.produitdetail {
    display: flex;
    justify-content: space-between;
}

.image {
    border-radius: 25%;
}