<div class="main">
    <div class="logo"></div>

    <div class="top">
        <div class="left"></div>
        <div class="right">

            <div class="mojitos">
                <div class="categorie">LES MOJITOS</div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Virgin Mojito
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        12
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Fraise
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Framboise
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Blue
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Pêche
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Fruit rouge
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Mojito Energie
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        18
                    </div>
                </div>
            </div>
            <div class="desserts">
                <div class="categorie">LES DESSERTS</div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Gâteau au chocolat
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Tiramisu
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        12
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Cheese cake
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Assidt zgougou
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        10
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Assiette fruit
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        25
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttom">
        <div class="MILKSHAKES">
            <div class="categorie">LES MILKSHAKES</div>
            <div class="produitdetail">
                <div class="produit">

                    <ul>
                        <li>
                            Classiques
                        </li>
                    </ul>

                </div>
                <div class="prix">
                    9
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">

                    <ul>
                        <li>
                            Milkshake Nutella
                        </li>
                    </ul>

                </div>
                <div class="prix">
                    13
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">

                    <ul>
                        <li>
                            Milkshake (kinder + oréo + spéculos)
                        </li>
                    </ul>

                </div>
                <div class="prix">
                    14
                </div>
            </div>
        </div>
        <div class="LES_GLACES">
            <div class="glaceitem">
                <div class="categorie">LES MILKSHAKES</div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                1 Boule glace
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                2 Boules glace
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                3 Boules glace
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        13.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Coupe Kinder
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Banana split
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        18
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Coupe la vague
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        25
                    </div>
                </div>
            </div>
            <div class="Pistache">
                <div class="categorie">Pistache</div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Classiques
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        9
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Milkshake Nutella
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">

                        <ul>
                            <li>
                                Milkshake (kinder + oréo + spéculos)
                            </li>
                        </ul>

                    </div>
                    <div class="prix">
                        14
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>