<div class="main">


    <div class="CAFÉS">
        <div class="cafedetails">
            <div class="menu">
                <div class="categorie">LES GAUFRES</div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Gaufre Nutella
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Gaufre Nutella Banane
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Gaufre Nutella banane Amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>

                <div class="categorie">LES PANCAKES</div>

                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Pancake Nutella
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Pancake Nutella banane
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Pancake Nutella Amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Pancake Nutella banane
                                amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
            </div>
            <div class="imagecafe"></div>
        </div>
    </div>

    <div class="crepesandchicha">
        <div class="categorie" style="margin: 0px; margin-top: 10px;">Les CREPES</div>
        <div class="crepe">
            <div class="sale">
                <h3>Salée</h3>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Fromage
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        8
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Ton fromage
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Jambon fromage
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Salami fromage
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        9.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe spéciale
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13.5
                    </div>
                </div>
            </div>
            <div class="sucree">
                <h3>Sucrée</h3>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe au sucre
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        7
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe Nutella
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        10.5
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe Nutella Banane
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe Nutella Amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        13
                    </div>
                </div>
                <div class="produitdetail">
                    <div class="produit">
                        <ul>
                            <li>
                                Crêpe Nutella Banane
                                Amande
                            </li>
                        </ul>
                    </div>
                    <div class="prix">
                        15
                    </div>
                </div>
            </div>
        </div>
        <div class="categorie">CHICHAS</div>
        <div class="chichas">
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Chicha chikh
                        </li>
                    </ul>
                </div>
                <div class="prix">
                    9
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Chicha Fakher au choix (menthe + pomme +
                            raisin + citron )
                        </li>
                    </ul>
                </div>
                <div class="prix">
                    10
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Chicha fakher kaloud
                        </li>
                    </ul>
                </div>
                <div class="prix">
                    15
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Chicha love
                        </li>
                    </ul>
                </div>
                <div class="prix">
                    15
                </div>
            </div>
            <div class="produitdetail">
                <div class="produit">
                    <ul>
                        <li>
                            Chicha love kaloud
                        </li>
                    </ul>
                </div>
                <div class="prix">
                    25
                </div>
            </div>
        </div>
    </div>
</div>